{% extends 'base.html.twig' %}

{% block title %}Math{% endblock %}
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

{% block body %}
    <br/>
    <br/>

    <div class="countdown" data-start="10"></div>


    <div class="progress_container">
        <ul class="progressbar">
            <li id="prog_1" class="active"><i class="fas fa-arrow-up"></i></li>
            <li id="prog_2"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_3"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_4"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_5"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_6"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_7"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_8"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_9"><i class="fas fa-question" style="font-size: 20px;"></i></li>
            <li id="prog_10"><i class="fas fa-question" style="font-size: 20px;"></i></li>
        </ul>
    </div>

    <div class="container" style="clear: both;">
    <div class="card">
        <div class="card-header">{{ game_name }}</div>
        <div class="card-body">
            <div class="row text-center">
                <table width="100%">
                    <tr>
                        <td id="question" class="text-right question">{{ questions['operation'] }} = </td>
                        <td class="text-left question" style="padding: 0 0 5px 15px;"><input id="resultat" class="reponses quest_input_large" type="text" value="" size="4"/></td>
                    </tr>
                </table>
            </div>
            <div class="row">
                <div id="question" class="col-12 text-center">
                    <br/><br/>
                </div>
            </div>
            <div class="row">
                <div id="question" class="col-12 text-center">
                    <button id="next" class="btn btn-danger" type="button">Remplir la case</button>
                </div>
            </div>
        </div>
    </div>
    </div>

<script>
	$(document).ready(function()
	{
        step = {{ step }}
        nb_Quest = {{ nb_quest }}
        results = JSON.parse('{{ results|raw }}')
        runlink = '{{ link }}'
        redirect = '{{ redirect }}'

        console.log(step)

        window.init = function() {
            submit_ok = false
            $("#resultat").val(''),
            $("#resultat").prop( "disabled", false );
            $("#next").addClass("btn-danger")
            $("#next").html("Remplir la case")

            if (step <= nb_Quest) setUpTimer($('.countdown'), endOftime)
        }

        window.getPostVal = function() {
            var postval = {
                'step': step,
                'resultat': $("#resultat").val()
            }
            return postval
        }

        window.updateQuestion = function(data) {
            var quest = data.questions.operation + ' = '
            $("#question").html(quest)
        }

        function endOftime() {
            $("#resultat").prop( "disabled", true );
            $("#resultat").val("-");
            $("#resultat").trigger("change");
            $("#next").trigger("click");
        }

        function setUpTimer($obj, callback)
        {
            var display = function(counter) {
                var digits = counter.toString().padStart(2, '0').split("");
                var result = ''
                $.each(digits, function(index, value) {
                    result += '<div class="digit">'+value+'</div>'
                })
                $obj.html(result);
            }

            var counter = parseInt($obj.data('start'), 10);
            display(counter)
            var interval = setInterval(function() {
                counter--;
                // Display 'counter' wherever you want to display it.
                if (counter <= 0) {
                    clearInterval(interval);
                    $obj.html('<div class="digit" style="color: red;">X</div><div class="digit" style="color: red;">X</div>');
                    callback()
                    return;
                } else {
                    display(counter)
                }
            }, 1000);
        }

        setProgress()

    })
</script>

{% endblock %}
