<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>{% block title %}Your AppName{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block js_before %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    {% if topmenu is defined %}
        {{ topmenu | raw }}
    {% endif %}
    {% if sidemenu is defined %}
        <div class="sidemenu">
        {{ sidemenu | raw }}
        </div>
    {% endif %}

    <div class="pageContainer">
        {% block body %}
        {% endblock %}
    </div>

    <div class="pageFooterContainer fixed-bottom">
        <div class="card">
            <div class="card-body copyright">
                <center>
                {% block footer %}
                    <table><tr>
                        <td>App v2.12 | </td>
                        <td><a href="http://www.blackbeecorp.com">Powered by </a></td>
                        <td><a href="http://www.blackbeecorp.com"><div id="Blackbee" > </div></a></td>
                        <td>| Last Update: 23/01/2020</td>
                    </tr></table>
                {% endblock %}
                </center>
            </div>
        </div>
    </div>

    {% block js_after %}
        {{ encore_entry_script_tags('doc_ready') }}
    {% endblock %}
</body>
</html>